@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: bold;
}



:root {
    --cor0: #e9ebc5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #00642b;
    --cor6: wheat;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destauque: 'Poppins', sans-serif, cursive;
    --fonte-android: 'Android', Cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6;
}

body a.externo::after {
    content: '\1F517';
}

p {
    margin: 15px 0px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;

}

main strong {
    color: #2fa866;
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: #83e1ad;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    padding: 15px;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header>h1 {
    color: white;
    font-family: var(--fonte-destauque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.671);
    font-weight: bold;
}

header p {
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 100;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.671);
    padding: bottom 10px;
    ;

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.37);
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

main img {
    width: 100%;
}

main p {
    font-family: var(--fonte-padrao);
    text-align: justify;
}

.img-pequena {
    margin: auto;
    display: block;
    max-width: 350px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
    font-weight: normal;
}

footer {
    background-color: #063d1e;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: var(--fonte-padrao);
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #7ebd99;
}

aside {
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.508);
}

aside>h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

aside>ol {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
}

div.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding: 20px;
    padding-bottom: 57%;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}